name: Build and Push libvips-heic

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build image
        run: |
          docker build -f Dockerfile.base \
          -t ghcr.io/${{ github.repository_owner }}/libvips-heic:${{ github.sha }} .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/libvips-heic:${{ github.sha }}
